body {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;
	font-family: "Quantico", sans-serif;
	color: white !important;
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Edge */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
